.slider-container {
    overflow-x: hidden;
    margin: 0 auto;
}

.slider {
    display: flex;
    cursor: grab;
}

.item {
    height: 48.63rem;
    min-width: 110rem;

}

.item img {
    height: 100%;
    width: 100%;
    pointer-events: none;
}