.slider-container {
    overflow-x: hidden;
    margin: 0 auto;
}

.slider {
    display: flex;
    cursor: grab;
    animation: displacement 15s infinite alternate linear;
}

.item {
    height: 48.63rem;
    min-width: 110rem;

}

.item img {
    height: 100%;
    width: 100%;
    display: block;
    pointer-events: none;
}

@keyframes displacement {
    0% {margin-left: -19%;}
    20% {margin-left: -19%;}

    25%{margin-left:-150%;}
    45%{margin-left:-150%;}

    50%{margin-left:-280%;}
    70%{margin-left:-280%;}

    75%{margin-left:-415%;}
    100%{margin-left:-415%;}
}
  